<!DOCTYPE html>
<html>
    <head lang="en">
        {% include 'bootstrap.html' %}
        <title>Yogesh Sakthivel</title>
        <style>
            .bod
            {
                margin: 0px;
            }
            .hero
            {
                text-align: center;
            }
            #banner
            {
                margin-top: 10px;
                width: 100%;
                height: 200px;
                object-fit: cover;
            }
        </style>
    </head>
    <body class="bod">
        {% include 'nav.html' %}
        <div class="hero">
            <img id="banner" class="img-fluid rounded" src="static/banner.jpg" alt="banner" >
            <h1>Hello,there I am Yogesh</h1>
        </div>

        {% include 'footer.html' %}
    </body>
</html>